@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* @font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/Ubuntu-R-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('../fonts/Ubuntu-RI-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/Ubuntu-B-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('../fonts/Ubuntu-BI-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/Ubuntu-L-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('../fonts/Ubuntu-LI-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('../fonts/Ubuntu-M-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('../fonts/Ubuntu-MI-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('../fonts/Ubuntu-C-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
